<footer class="footer mt-auto py-3 bg-dark text-white">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-4">
          <h5>Sobre Nosotros</h5>
          <p>Tu tienda en línea confiable. Calidad garantizada y servicio al cliente de excelencia.</p>
        </div>
        <div class="col-md-4">
          <h5>Enlaces Rápidos</h5>
          <ul class="list-unstyled">
            <li><a [routerLink]="['/inicio']" class="text-white">Inicio</a></li>
            <li><a [routerLink]="['/productos']" class="text-white">Productos</a></li>
            <li><a [routerLink]="['/contacto']" class="text-white">Contacto</a></li>
            <li><a [routerLink]="['/registro']" class="text-white">Registro</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <h5>Contáctanos</h5>
          <p><i class="fas fa-map-marker-alt"></i> Dirección: Calle 23, Armenia, Colombia</p>
          <p><i class="fas fa-phone"></i> Teléfono: (123) 369-7594</p>
          <p><i class="fas fa-envelope"></i> Email: contacto.tienda.com</p>
        </div>
      </div>
      <div class="mt-3">
        <p class="text-center">© 2024 Ecommerce Challenge. Todos los derechos reservados.</p>
      </div>
    </div>
  </footer>