<div class="container py-4">
    <div class="d-flex justify-content-between align-items-center mb-4">
      <h2 class="text-primary">Inventario de Productos</h2>
      <button class="btn btn-success" (click)="createProduct()">
        <i class="bi bi-plus-circle me-2"></i>Crear Producto
      </button>
    </div>
  
    <table class="table table-hover table-bordered shadow-sm">
      <thead class="table-light">
        <tr>
          <th>Nombre</th>
          <th>Descripción</th>
          <th>Precio</th>
          <th class="text-center">Acciones</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of products">
          <td>{{ product.name }}</td>
          <td>{{ product.description }}</td>
          <td>{{ product.price | currency }}</td>
          <td class="text-center">
            <button class="btn btn-sm btn-outline-primary me-2" (click)="editProduct(product.id)">
              <i class="bi bi-pencil"></i> Editar
            </button>
            <button class="btn btn-sm btn-outline-danger" (click)="deleteProduct(product.id)">
              <i class="bi bi-trash"></i> Eliminar
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>