.container {
    max-width: 700px;
  }
  
  h2 {
    font-weight: bold;
  }
  
  .form-control {
    border-radius: 0.25rem;
  }
  
  .btn-primary {
    font-size: 1rem;
    padding: 0.5rem 1rem;
  }
  
  .bg-light {
    background-color: #f8f9fa !important;
  }